{% load static %}

<body>

    {% block content %}
    {% include "navbar.html" %}
    <!-- Your custom content here -->
    
    <div class="container">
        <div class="row justify-content-center barcode-section">
            <div class="text-center">
                <hr>

                <label class="mb-4" style="font-weight: bold;">Πληκτρολόγησε τον αριθμό μητρώου (Courier ID)<br>
                    (το βρίσκεις στην Ενότητα Οικονομικά-> Υπόλοιπο μετρητών <br>ΑΦΟΥ έχεις ολοκληρώσει τουλάχιστον μία διανομή μετρητών)</label>
                <input type="text" class="form-control barcode-input text-center mb-4" id="input" placeholder="Enter your ID..." oninput="validateInput(this)" />

                <button type="button" class="btn btn-success btn-generate" onclick="generateBarcode()">Generate Barcode</button>

                <hr style="display: none;" id="hr-after-downloadBtn">

                <div class="mt-4">
                    <svg style="display:none; width: 300px; height: 150px;" id="barcode"></svg>
                </div>

                <div class="mt-4">
                    <button type="button" class="btn btn-success btn-download" id="downloadBtn" style="display:none;" onclick="downloadBarcode()">
                        Download Barcode <i class="fas fa-download ml-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


<script>
function generateBarcode() {
    var input = document.getElementById("input").value;
    var hr = document.getElementById('hr-after-downloadBtn')
    validateInput(document.getElementById("input")); // Add this line to validate the input

    if (input.length < 5) {
        alert("Please enter at least 5 digits.");
        return false;
    }

    input = '1001' + input + '27599';

    var barcode = document.getElementById("barcode");
    var downloadButton = document.getElementById("downloadBtn");
    if (input === '') {
        alert("Please provide the data first.");
        return false;
    } else {
        JsBarcode(barcode, input);
        barcode.style.display = "inline";
        downloadButton.style.display = "inline";
        hr.style.display ='block'
    }
}





    function downloadBarcode(newWidth = 1538, newHeight = 625) {
        const canvas = document.createElement("canvas");
        const svg = document.getElementById("barcode");
        const base64doc = btoa(unescape(encodeURIComponent(svg.outerHTML)));
        const w = newWidth; //|| parseInt(svg.getAttribute('width'));
        const h = newHeight; //|| parseInt(svg.getAttribute('height'));
        const img_to_download = document.createElement('img');
        img_to_download.src = 'data:image/svg+xml;base64,' + base64doc;

        img_to_download.onload = function () {
            canvas.setAttribute('width', w);
            canvas.setAttribute('height', h);
            const context = canvas.getContext("2d");
            context.drawImage(img_to_download, 0, 0, w, h);
            canvas.toBlob(function (blob) {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'barcode.png';
                a.click();
                window.URL.revokeObjectURL(url);
            });
        }
    }

    function validateInput(input) {
        console.log(input)
        const inputValue = input.value;
        const isValidInput = /^\d{5,}$/.test(inputValue); // Check if the input is a digit and has at least 5 digits
        if (!isValidInput) {
            input.value = inputValue.replace(/[^\d]/g, ''); // Remove non-digit characters
        }
    }

    function goToHomePage() {
        window.location.href = "/";
        return false;
    }
</script>
